@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.all {
  scroll-behavior: smooth;
  overflow-y: hidden;
}
.one {
  min-height: 100vh;
  max-width: 100vw;
  text-align: center;
  color: #eee;
  padding: 100px 0;
  background: #8abd91;
  margin: 0;
}
.one h2,
.two .textBox h2 {
  font-size: 4em;
  font-family: "Dancing Script", cursive;
  padding: 10px 0;
}
.one .text {
  padding-top: 200px;
}
.one h3 {
  padding: 15px 0;
  font-size: 1.3em;
  font-weight: 500;
}
.one .text button {
  padding: 5px 30px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  color: #eee;
  background-color: rgb(156, 156, 156);
  margin-top: 10px;
}
.one .img {
  position: absolute;
  top: 100px;
  left: 70px;
  background: #eee;
  height: 290px;
  z-index: 1;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.2);
  visibility: visible;
}
.one .img::before {
  content: "";
  width: 380px;
  height: 290px;
  position: absolute;
  z-index: -1;
  background: #eee;
  top: 0px;
  transform: rotate(10deg);
}
.one .img img {
  background: #eee;
  height: 260px;
  padding: 10px;
}
.one .img2 {
  position: absolute;
  top: 280px;
  right: 70px;
  background: #eee;
  height: 290px;
  z-index: 1;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.2);
  visibility: visible;
}
.one .img2::before {
  content: "";
  width: 380px;
  height: 290px;
  position: absolute;
  z-index: -1;
  background: #eee;
  top: 0px;
  transform: rotate(-10deg);
}
.one .img2 img {
  background: #eee;
  height: 260px;
  padding: 10px;
}
.two {
  display: flex;
  gap: 200px;
  padding: 60px 120px 150px 120px;
  min-height: 100vh;
  max-width: 100vw;
  color: #eee;
  position: relative;
  background: #8abd91;
  margin: 0;
}
.two img {
  width: 300px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}
.two .textBox {
  text-align: center;
}
.two .textBox .textBox2 {
  margin-top: 200px;
}
.two .textBox .textBox2 h3 {
  font-size: 1em;
  font-weight: 500;
}
.two .textBox .textBox2 h4 {
  margin-top: 20px;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: url("/asset/wave.png");
  background-size: 1000px 100px;
}
.wave.wave1 {
  animation: animate 20s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: -5s;
  bottom: 0;
}
.wave.wave2 {
  animation: animate2 10s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: 0s;
  bottom: 10px;
}
.wave.wave3 {
  animation: animate2 10s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.three {
  min-height: 100vh;
  background: #fff;
  padding: 100px 120px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}
.three .div h2 {
  visibility: hidden;
}
.three .text {
  max-width: 400px;
}
.three .text h2,
.four .profil .about h2,
.four .profil2 .about h2,
.four h1 {
  color: #8abd91;
  font-size: 4em;
  font-family: "Dancing Script", cursive;
  text-align: center;
}
.three .text .tgl {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0 100px 0;
}
.three .text .tgl .card {
  text-align: center;
  background-color: #98ca9f;
  padding: 10px;
  width: 100px;
  height: 70px;
  border-radius: 8px;
  color: #fff;
}
.three .text .tgl .card h4 {
  font-size: 1.2em;
  color: #fff;
}
.three .text h3 {
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
  color: #111;
}
.three .text .lines {
  position: relative;
  width: 350px;
  height: 45px;
  margin-top: 15px;
  margin-left: 25px;
}
.three .text .lines::after,
.three .text .lines::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  width: 100px;
  background: #111;
  top: 30%;
}
.three .text .lines::after {
  left: 0;
}
.three .text .lines::before {
  right: 0;
}
.three .text .lines p {
  position: absolute;
  left: 33%;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
.slider {
  height: 250px;
  width: 540px;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}
.slide-track:hover {
  animation-play-state: paused;
}
.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
.slide img {
  width: 100%;
  transition: transform 1s;
  border-radius: 10px;
}
.slide img:hover {
  transform: translateZ(20px);
  border-radius: 10px;
}
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
.four {
  min-height: 180vh;
  max-width: 100vw;
  text-align: center;
  padding: 40px 120px;
  background: #fff;
}
.four .textBox h2 {
  font-weight: 600;
  color: #111;
  font-size: 1.2em;
}
.four .textBox p {
  margin: 15px 0;
}
.four .profil {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 50px;
}
.four .profil img,
.four .profil2 img {
  max-height: 430px;
  width: 300px;
  border-radius: 20px;
  border-bottom: 10px solid #8abd91;
}
.four .profil .about h2 {
  text-align: left;
}
.four .profil .about h3,
.four .profil2 .about h3 {
  color: #111;
  font-weight: 600;
  font-size: 1.3em;
  margin: 10px 0;
}
.four .profil2 {
  display: flex;
  align-items: center;
  text-align: right;
  float: right;
  gap: 50px;
  padding-bottom: 100px;
}
.four .profil2 .about h2 {
  text-align: right;
}
.five {
  min-height: 240vh;
  max-width: 100vw;
  padding: 80px 300px;
  position: relative;
  background: #8abd91;
}
.five .text h2 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  color: #eee;
  font-size: 2em;
  position: absolute;
  left: 37%;
  top: -107px;
  background: #8abd91;
  padding: 35px 80px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.five .text h3 {
  color: #eee;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.five .akad,
.five .akad2 {
  margin-top: 50px;
  color: #eee;
}
.five .akad2 {
  text-align: right;
}
.five .akad .texts h2,
.five .akad2 h2 {
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-size: 2.2em;
  margin-bottom: 10px;
}
.five .akad .texts {
  margin-left: 25px;
}
.five .akad2 .text2 {
  margin-right: 25px;
}
.five .akad h4,
.five .akad2 h4 {
  margin-top: 20px;
}
.five .maps {
  margin-top: 40px;
  transition: all 1s;
}
.five .maps a {
  border: 1px solid #eee;
  text-decoration: none;
  color: #eee;
  padding: 8px 12px;
  border-radius: 8px;
}
.five .maps:hover {
  transform: translateY(-10px);
}
.garis,
.gariss {
  position: relative;
  width: 2px;
}
.gariss {
  float: right;
}
.garis::before {
  content: "";
  position: absolute;
  height: 300px;
  width: 3px;
  background: #eee;
  top: -18px;
  left: 20%;
}
.gariss::after {
  content: "";
  position: absolute;
  height: 300px;
  width: 3px;
  background: #eee;
  top: -18px;
  left: 0px;
}
.five img {
  max-height: 500px;
  border-radius: 20px;
  margin-top: 80px;
  border: 2px solid #eee;
}
.six {
  height: 65vh;
  max-width: 100vw;
  text-align: center;
  padding: 100px;
  background: url("asset/back.jpg");
  opacity: 0.9;
  position: relative;
}
.six .image {
  display: flex;
  position: absolute;
  top: -120px;
  left: 22%;
}
.six .image img {
  max-width: 260px;
  height: 250px;
}
.six .text {
  margin-top: 50px;
}
.six .text h2,
.seven h2,
.eight h1,
.nine .background h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3.5em;
  font-weight: 700;
  line-height: 2em;
}
.six .text .but {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.six .text a {
  text-decoration: none;
  background: #eee;
  padding: 8px 20px;
  border-radius: 5px;
  color: #111;
  font-size: 1.1em;
}
.six .text a span {
  margin-left: 5px;
}
.gambar {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.seven {
  padding: 50px 0 100px 0;
  background: #8abd91;
  height: 180vh;
}
.seven h2 {
  color: #eee;
  text-align: center;
}
.seven .image {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.seven .image img {
  width: 250px;
}
.eight {
  text-align: center;
  padding: 80px 120px 100px 120px;
}
.eight .story1,
.eight .story2,
.eight .story3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.eight .story1 .foto img,
.eight .story2 .foto img,
.eight .story3 .foto img {
  height: 300px;
  width: 300px;
  border-radius: 150px;
}
.eight .story1 .text,
.eight .story2 .text,
.eight .story3 .text {
  text-align: left;
  width: 300px;
}
.line,
.line2,
.line3 {
  position: relative;
  width: 50px;
  height: 250px;
}
.line::after,
.line::before,
.line2::after,
.line2::before,
.line3::after,
.line3::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 100px;
  width: 2px;
  background: #111;
  top: 48%;
}
.line::after {
  top: 0;
}
.line2::after,
.line3::after {
  height: 222px;
  top: -122px;
}
.line::before,
.line2::before,
.line3::before {
  bottom: 0;
}
.line i,
.line2 i,
.line3 i {
  position: absolute;
  left: 18%;
  top: 40%;
  font-size: 1.2em;
  background: #8abd91;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
}
.line3 i {
  font-size: 1em;
  left: 17%;
  padding: 10px 8px;
}
.eight .story2 .foto img {
  margin-left: 0px;
}
.nine {
  text-align: center;
  margin: 0 0 100px 0;
}
.nine .background {
  width: 700px;
  min-height: 400px;
  background: url("asset/back.jpg");
  margin: 0 auto;
  padding: 50px 100px;
  position: relative;
}
.nine .foto {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 160px;
  left: -220px;
}
.nine .foto img {
  height: 250px;
}
.nine .background h1 {
  line-height: 1.2em;
}
.nine .background form {
  margin-top: 330px;
  background: #fff;
  color: #111;
  padding: 50px;
}
.nine .background form h2,
.ten .text h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 20px;
}
.nine .background form label {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
}
.nine .background form .input input,
.nine .background form .input select,
.nine .background form textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #111;
  border-radius: 5px;
  margin-top: 5px;
}
.nine .background form button {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  margin-top: 10px;
  border: none;
  background: #8abd91;
  border-radius: 5px;
}
.ten {
  background: url("asset/couple2.jpg");
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  position: relative;
  min-height: 100vh;
}
.ten::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100px;
  background: #fff;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}
.ten .text {
  opacity: 10;
  color: #111;
  margin-top: 0px;
  text-align: center;
}
.ten .text p {
  font-size: 1.2em;
}
footer {
  text-align: center;
  background: #fff;
  position: absolute;
  bottom: -230px;
  left: 40%;
  padding: 40px;
}
footer ul {
  display: flex;
  justify-content: center;
  margin: 40px 0 20px 0;
  gap: 30px;
}
footer ul li {
  list-style: none;
  font-size: 1.3em;
  transition: all 0.4s;
}
footer ul li a {
  color: #fff;
  background-color: #8abd91;
  border-radius: 50%;
  padding: 5px 10px;
}
footer ul li:hover {
  transform: translateY(-10px);
}
footer p {
  margin-top: 10px;
}

@media (max-width: 420px) {
  /* one */
  .one {
    padding: 50px 0;
    min-height: 100vh;
  }
  .one h2,
  .two .textBox h2 {
    font-size: 3em;
    font-family: "Dancing Script", cursive;
    padding: 10px 0;
  }
  .one .text {
    padding-top: 220px;
  }
  .one .img {
    position: absolute;
    top: 210px;
    left: -10px;
    background: #eee;
    height: 200px;
    z-index: 1;
  }
  .one .img::before {
    content: "";
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: -1;
    background: #eee;
    top: 0px;
    transform: rotate(10deg);
  }
  .one .img img {
    height: 200px;
    padding: 10px;
  }
  .one .img2 {
    position: absolute;
    top: 580px;
    right: 30px;
    background: #eee;
    height: 200px;
    z-index: 1;
  }
  .one .img2::before {
    content: "";
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: -1;
    background: #eee;
    top: 0px;
    transform: rotate(-10deg);
  }
  .one .img2 img {
    height: 200px;
    padding: 10px;
  }
  /* two */
  .two {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 80px 12%;
    min-height: 100vh;
    max-width: 100vw;
    color: #eee;
    position: relative;
    background: #8abd91;
    margin: 0;
  }
  .two img {
    width: 300px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border: 2px solid #eee;
    padding: 8px;
  }
  .two .textBox {
    text-align: center;
  }
  .two .textBox .textBox2 {
    margin-top: 100px;
  }
  .two .textBox .textBox2 h4 {
    margin-top: 20px;
  }
  .wave {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 80px;
    background: url("/asset/wave.png");
    background-size: 800px 100px;
  }
  .wave.wave1 {
    animation: animate 20s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: -5s;
    bottom: -10px;
  }
  .wave.wave2 {
    animation: animate2 10s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: 0s;
    bottom: -10px;
  }
  .wave.wave3 {
    animation: animate2 10s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: -15px;
  }
  /* three */
  .three {
    min-height: 100vh;
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    align-items: center;
  }
  .three .div h2 {
    visibility: visible;
    text-align: center;
    color: #8abd91;
    font-size: 3em;
    font-family: "Dancing Script", cursive;
    text-align: center;
  }
  .three .text {
    max-width: 340px;
  }
  .three .text h2,
  .four .profil .about h2,
  .four .profil2 .about h2,
  .four h1 {
    font-size: 3em;
  }
  .three .text .tgl {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 20px 100px 20px;
  }
  .three .text .tgl .card {
    text-align: center;
    background-color: #98ca9f;
    padding: 8px;
    height: 70px;
    border-radius: 8px;
    color: #fff;
  }
  .three .text .tgl .card h4 {
    font-size: 1em;
    color: #fff;
  }
  .three .text h3 {
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
    color: #111;
  }
  .three .text .lines {
    position: relative;
    width: 320px;
    height: 45px;
    margin-top: 15px;
    margin-left: 10px;
  }
  .three .text .lines::after,
  .three .text .lines::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 2px;
    width: 80px;
    background: #111;
    top: 30%;
  }
  .slider {
    height: 250px;
    width: 400px;
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  .slide-track {
    display: flex;
    width: calc(200px * 18);
    animation: scroll 40s linear infinite;
  }
  .slide-track:hover {
    animation-play-state: paused;
  }
  .slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 10px;
    perspective: 100px;
  }
  .slide img {
    width: 100%;
    transition: transform 1s;
    border-radius: 10px;
  }
  .slide img:hover {
    transform: translateZ(15px);
    border-radius: 10px;
  }
  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
  }
  .slider::before {
    left: -1px;
    top: 0;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  /* four */
  .four {
    min-height: 200vh;
    max-width: 100vw;
    text-align: center;
    padding: 40px;
    background: #fff;
  }
  .four .textBox h2 {
    font-weight: 600;
    color: #111;
    font-size: 1.2em;
  }
  .four .textBox p {
    font-size: 0.8em;
    margin: 15px 0;
  }
  .four .profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 50px;
  }
  .four .profil img,
  .four .profil2 img {
    max-height: 400px;
    width: 280px;
    border-radius: 20px;
    margin-left: -110px;
    margin-top: 50px;
  }
  .four .profil2 img {
    margin-left: 0px;
    margin-right: -39px;
  }
  .four .profil .about {
    margin-left: -20px;
  }
  .four .profil2 .about {
    margin-right: -20px;
  }
  .four .profil .about h2,
  .four .profil2 .about h2 {
    text-align: left;
    margin-top: -140px;
    margin-bottom: 40px;
    font-size: 3.5em;
    color: #111;
  }
  .four .profil .about h3,
  .four .profil2 .about h3 {
    color: #111;
    font-weight: 600;
    font-size: 1.3em;
    margin: 10px 0;
  }
  .four .profil2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: right;
    float: right;
    gap: 50px;
    padding-bottom: 100px;
  }
  .four .profil2 .about h2 {
    text-align: right;
  }
  .four h1 {
    margin-top: 30px;
  }
  /*  */
  .five {
    min-height: 155vh;
    padding: 60px 30px;
    position: relative;
    background: #8abd91;
  }
  .five .text h2 {
    font-family: "Dancing Script", cursive;
    text-align: center;
    color: #eee;
    font-size: 1.5em;
    position: absolute;
    left: 18%;
    top: -70px;
    background: #8abd91;
    padding: 25px 60px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .five .text h3 {
    font-size: 1em;
  }
  .five .akad .texts h2,
  .five .akad2 h2 {
    font-size: 1.7em;
  }
  .five .akad p,
  .five .akad2 p {
    font-size: 0.9em;
  }
  .five img {
    max-height: 220px;
    border-radius: 20px;
    margin-top: 80px;
    border: 2px solid #eee;
  }
  /*  */
  .six {
    height: 45vh;
    padding: 50px 30px;
    background: url("asset/back.jpg");
    opacity: 0.9;
    position: relative;
  }
  .six .image {
    display: flex;
    position: absolute;
    top: -60px;
    left: 7%;
  }
  .six .image img {
    width: 110px;
    height: 120px;
  }
  .six .text {
    margin-top: 20px;
  }
  .six .text h2,
  .seven h2,
  .eight h1,
  .nine .background h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3em;
    font-weight: 700;
    line-height: 2em;
  }
  .eight {
    text-align: center;
    padding: 50px 0;
  }
  .eight .story1,
  .eight .story2,
  .eight .story3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
    position: relative;
    padding-top: 50px;
    height: 250px;
  }
  .eight .story3 {
    margin-top: 150px;
  }
  .eight .story1 .foto img,
  .eight .story2 .foto img,
  .eight .story3 .foto img {
    height: 200px;
    width: 200px;
    border-radius: 150px;
    position: absolute;
    top: -90px;
    right: -7%;
    z-index: 1;
  }
  .eight .story2 .foto img {
    left: -7%;
  }
  .eight .story1 .text,
  .eight .story3 .text {
    text-align: left;
    width: 300px;
    z-index: 10;
  }
  .eight .story2 .text {
    text-align: right;
    width: 300px;
    z-index: 10;
  }
  .eight .story1 .text p,
  .eight .story2 .text p,
  .eight .story3 .text p {
    font-size: 0.8em;
  }
  /* .line3 {
    visibility: hidden;
  } */
  .line,
  .line2,
  .line3 {
    position: relative;
    width: 300px;
    height: 50px;
  }
  .line::after,
  .line::before,
  .line3::after,
  .line3::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 2px;
    width: 135px;
    background: #111;
    top: 80%;
  }
  .line2::after,
  .line2::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 2px;
    width: 133px;
    background: #111;
    top: 800%;
  }
  .line2::after {
    right: 0;
    bottom: 10%;
  }
  .line2::before {
    left: 0;
  }
  .line::after,
  .line3::after {
    right: 0;
    bottom: 10%;
  }
  .line::before,
  .line3::before {
    left: 0;
  }
  .line i,
  .line2 i,
  .line3 i {
    position: absolute;
    left: 44%;
    top: 40%;
    font-size: 1.2em;
    background: #8abd91;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
  }
  .line3 i {
    font-size: 0.9em;
  }
  .line2 i {
    top: 740%;
  }
  .eight .story2 .foto img {
    margin-left: 0px;
  }
  /*  */
  .nine {
    text-align: center;
    margin: 0 0 80px 0;
  }
  .nine .background {
    width: 300px;
    min-height: 400px;
    background: url("asset/back.jpg");
    margin: 0 auto;
    padding: 40px 22px;
    position: relative;
  }
  .nine .foto {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 160px;
    left: -90px;
  }
  .nine .foto img {
    height: 150px;
    width: 150px;
  }
  .nine .background h1 {
    line-height: 1em;
  }
  .nine .background form {
    margin-top: 250px;
    background: #fff;
    color: #111;
    padding: 15px;
  }
  .nine .background form h2 {
    font-family: "Dancing Script", cursive;
    font-size: 1.8em;
    font-weight: 700;
    margin: 10px 0 30px 0;
  }
  .nine .background form label {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    font-size: 0.9em;
  }
  .nine .background form .input input,
  .nine .background form .input select,
  .nine .background form textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #111;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 0.8em;
  }
  .nine .background form button {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    margin-top: 10px;
    border: none;
    background: #8abd91;
    border-radius: 5px;
  }
  /*  */
  .ten {
    background: url("asset/couple2.jpg");
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: 160vw 80vh;
    padding: 50px 20px;
    position: relative;
    min-height: 120vh;
  }
  .ten .text {
    opacity: 10;
    color: #111;
    margin-top: 90px;
    text-align: center;
  }
  .ten .text p {
    font-size: 1.2em;
  }
  footer {
    text-align: center;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 16%;
    padding: 40px;
  }
  footer ul {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;
    gap: 30px;
  }
}
@media (max-width: 380px) {
  /* one */
  .one {
    padding: 50px 0;
    min-height: 100vh;
  }
  .one h2,
  .two .textBox h2 {
    font-size: 3em;
    font-family: "Dancing Script", cursive;
    padding: 10px 0;
  }
  .one .text {
    padding-top: 220px;
  }
  .one .img {
    position: absolute;
    top: 210px;
    left: -10px;
    background: #eee;
    height: 200px;
    z-index: 1;
  }
  .one .img::before {
    content: "";
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: -1;
    background: #eee;
    top: 0px;
    transform: rotate(10deg);
  }
  .one .img img {
    height: 200px;
    padding: 10px;
  }
  .one .img2 {
    position: absolute;
    top: 580px;
    right: 30px;
    background: #eee;
    height: 200px;
    z-index: 1;
  }
  .one .img2::before {
    content: "";
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: -1;
    background: #eee;
    top: 0px;
    transform: rotate(-10deg);
  }
  .one .img2 img {
    height: 200px;
    padding: 10px;
  }
  /* two */
  .two {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 80px 8%;
    min-height: 100vh;
    max-width: 100vw;
    color: #eee;
    position: relative;
    background: #8abd91;
    margin: 0;
  }
  .two img {
    width: 300px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border: 2px solid #eee;
    padding: 8px;
  }
  .two .textBox {
    text-align: center;
  }
  .two .textBox .textBox2 {
    margin-top: 100px;
  }
  .two .textBox .textBox2 h4 {
    margin-top: 20px;
  }
  .wave {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 80px;
    background: url("/asset/wave.png");
    background-size: 800px 100px;
  }
  .wave.wave1 {
    animation: animate 20s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: -5s;
    bottom: -10px;
  }
  .wave.wave2 {
    animation: animate2 10s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: 0s;
    bottom: -10px;
  }
  .wave.wave3 {
    animation: animate2 10s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: -15px;
  }
  /* three */
  .three {
    min-height: 100vh;
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    align-items: center;
  }
  .three .div h2 {
    visibility: visible;
    text-align: center;
    color: #8abd91;
    font-size: 3em;
    font-family: "Dancing Script", cursive;
    text-align: center;
  }
  .three .text {
    max-width: 340px;
  }
  .three .text h2,
  .four .profil .about h2,
  .four .profil2 .about h2,
  .four h1 {
    font-size: 3em;
  }
  .three .text .tgl {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 20px 100px 20px;
  }
  .three .text .tgl .card {
    text-align: center;
    background-color: #98ca9f;
    padding: 8px;
    height: 70px;
    border-radius: 8px;
    color: #fff;
  }
  .three .text .tgl .card h4 {
    font-size: 1em;
    color: #fff;
  }
  .three .text h3 {
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
    color: #111;
  }
  .three .text .lines {
    position: relative;
    width: 320px;
    height: 45px;
    margin-top: 15px;
    margin-left: 10px;
  }
  .three .text .lines::after,
  .three .text .lines::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 2px;
    width: 80px;
    background: #111;
    top: 30%;
  }
  .slider {
    height: 250px;
    width: 400px;
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  .slide-track {
    display: flex;
    width: calc(200px * 18);
    animation: scroll 40s linear infinite;
  }
  .slide-track:hover {
    animation-play-state: paused;
  }
  .slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 10px;
    perspective: 100px;
  }
  .slide img {
    width: 100%;
    transition: transform 1s;
    border-radius: 10px;
  }
  .slide img:hover {
    transform: translateZ(15px);
    border-radius: 10px;
  }
  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
  }
  .slider::before {
    left: -1px;
    top: 0;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  /* four */
  .four {
    min-height: 200vh;
    max-width: 100vw;
    text-align: center;
    padding: 40px;
    background: #fff;
  }
  .four .textBox h2 {
    font-weight: 600;
    color: #111;
    font-size: 1.2em;
  }
  .four .textBox p {
    font-size: 0.8em;
    margin: 15px 0;
  }
  .four .profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 50px;
  }
  .four .profil img,
  .four .profil2 img {
    max-height: 400px;
    width: 280px;
    border-radius: 20px;
    margin-left: -110px;
    margin-top: 50px;
  }
  .four .profil2 img {
    margin-left: 0px;
    margin-right: -39px;
  }
  .four .profil .about {
    margin-left: -20px;
  }
  .four .profil2 .about {
    margin-right: -20px;
  }
  .four .profil .about h2,
  .four .profil2 .about h2 {
    text-align: left;
    margin-top: -140px;
    margin-bottom: 40px;
    font-size: 3.5em;
    color: #111;
  }
  .four .profil .about h3,
  .four .profil2 .about h3 {
    color: #111;
    font-weight: 600;
    font-size: 1.3em;
    margin: 10px 0;
  }
  .four .profil2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: right;
    float: right;
    gap: 50px;
    padding-bottom: 100px;
  }
  .four .profil2 .about h2 {
    text-align: right;
  }
  .four h1 {
    margin-top: 30px;
  }
  /*  */
  .five {
    min-height: 155vh;
    padding: 60px 30px;
    position: relative;
    background: #8abd91;
  }
  .five .text h2 {
    font-family: "Dancing Script", cursive;
    text-align: center;
    color: #eee;
    font-size: 1.5em;
    position: absolute;
    left: 15%;
    top: -70px;
    background: #8abd91;
    padding: 25px 60px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .five .text h3 {
    font-size: 1em;
  }
  .five .akad .texts h2,
  .five .akad2 h2 {
    font-size: 1.7em;
  }
  .five .akad p,
  .five .akad2 p {
    font-size: 0.9em;
  }
  .five img {
    max-height: 200px;
    border-radius: 20px;
    margin-top: 80px;
    border: 2px solid #eee;
  }
  /*  */
  .six {
    height: 45vh;
    padding: 50px 30px;
    background: url("asset/back.jpg");
    opacity: 0.9;
    position: relative;
  }
  .six .image {
    display: flex;
    position: absolute;
    top: -60px;
    left: 4%;
  }
  .six .image img {
    width: 110px;
    height: 120px;
  }
  .six .text {
    margin-top: 20px;
  }
  .six .text h2,
  .seven h2,
  .eight h1,
  .nine .background h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3em;
    font-weight: 700;
    line-height: 2em;
  }
  /* */
  .eight {
    text-align: center;
    padding: 50px 0;
  }
  .eight .story1,
  .eight .story2,
  .eight .story3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
    position: relative;
    padding-top: 50px;
    height: 250px;
  }
  .eight .story3 {
    margin-top: 150px;
  }
  .eight .story1 .foto img,
  .eight .story2 .foto img,
  .eight .story3 .foto img {
    height: 200px;
    width: 200px;
    border-radius: 150px;
    position: absolute;
    top: -90px;
    right: -7%;
    z-index: 1;
  }
  .eight .story2 .foto img {
    left: -7%;
  }
  .eight .story1 .text,
  .eight .story3 .text {
    text-align: left;
    width: 300px;
    z-index: 10;
  }
  .eight .story2 .text {
    text-align: right;
    width: 300px;
    z-index: 10;
  }
  .eight .story1 .text p,
  .eight .story2 .text p,
  .eight .story3 .text p {
    font-size: 0.8em;
  }
  /* .line3 {
    visibility: hidden;
  } */
  .line,
  .line2,
  .line3 {
    position: relative;
    width: 300px;
    height: 50px;
  }
  .line::after,
  .line::before,
  .line3::after,
  .line3::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 2px;
    width: 135px;
    background: #111;
    top: 80%;
  }
  .line2::after,
  .line2::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 2px;
    width: 133px;
    background: #111;
    top: 800%;
  }
  .line2::after {
    right: 0;
    bottom: 10%;
  }
  .line2::before {
    left: 0;
  }
  .line::after,
  .line3::after {
    right: 0;
    bottom: 10%;
  }
  .line::before,
  .line3::before {
    left: 0;
  }
  .line i,
  .line2 i,
  .line3 i {
    position: absolute;
    left: 44%;
    top: 40%;
    font-size: 1.2em;
    background: #8abd91;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
  }
  .line3 i {
    font-size: 0.9em;
  }
  .line2 i {
    top: 740%;
  }
  .eight .story2 .foto img {
    margin-left: 0px;
  }
  /*  */
  .nine {
    text-align: center;
    margin: 0 0 80px 0;
  }
  .nine .background {
    width: 300px;
    min-height: 400px;
    background: url("asset/back.jpg");
    margin: 0 auto;
    padding: 40px 22px;
    position: relative;
  }
  .nine .foto {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 160px;
    left: -90px;
  }
  .nine .foto img {
    height: 150px;
    width: 150px;
  }
  .nine .background h1 {
    line-height: 1em;
  }
  .nine .background form {
    margin-top: 250px;
    background: #fff;
    color: #111;
    padding: 15px;
  }
  .nine .background form h2 {
    font-family: "Dancing Script", cursive;
    font-size: 1.8em;
    font-weight: 700;
    margin: 10px 0 30px 0;
  }
  .nine .background form label {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    font-size: 0.9em;
  }
  .nine .background form .input input,
  .nine .background form .input select,
  .nine .background form textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #111;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 0.8em;
  }
  .nine .background form button {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    margin-top: 10px;
    border: none;
    background: #8abd91;
    border-radius: 5px;
  }
  /*  */
  .ten {
    background: url("asset/couple2.jpg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: 160vw 80vh;
    padding: 50px 20px;
    position: relative;
    min-height: 120vh;
  }
  .ten .text {
    opacity: 10;
    color: #111;
    margin-top: 90px;
    text-align: center;
  }
  .ten .text p {
    font-size: 1.2em;
  }
  footer {
    text-align: center;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 15%;
    padding: 40px;
  }
  footer ul {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;
    gap: 30px;
  }
}
